<!DOCTYPE html>
<html>

<head>
    <title>Registrar's Office Class Details</title>
</head>

<body>
    {% include 'header.html' %}
    <hr>
    <p>
        <h1>Class Details (class id{{classid}})</h1>
    </p>
    <p>
        Course Id: {{courseid}}<br> Days: {{days}}<br> Start time: {{startTime}}<br> End time: {{endTime}}<br> Building: {{build}}<br> Room: {{room}}<br>
    </p>
    <hr>
    <p>
        <h2>Course Details (course id{{courseid}})</h2>
    </p>
    <p>
        Dept and NUmber: {{dept}} {{num}}<br> Area: {{area}}<br> Title: {{title}}<br> Description: {{descrip}}<br> Prerequisites: {{prereqs}}<br> Professor: {{profs}}<br>
    </p>
    <br>Click here to do <a href="page">another class search</a>
    <br> {% include 'footer.html' %}
</body>

</html>