<!DOCTYPE html>
<html>

<head>
    <title>Registrar's Office</title>
</head>

<body>
    {% include 'header.html' %}
    <p>
        <h2>Class Search</h2>
    </p>
    <hr>
    <form action="page" method="get">
        <pre>    Dept: <input type="text" name="dept"></pre>
        <pre>  Number: <input type="text" name="num"></pre>
        <pre>    Area: <input type="text" name="area"></pre>
        <pre>   Title: <input type="text" name="title"></pre>
        <pre> <button type="submit">Submit</button></pre>
    </form>


    <hr>
    <br> {% include 'footer.html' %}
</body>

</html>